APP_HOST=0.0.0.0
APP_PORT=3030
BACKGROUND_SYNC_ENABLED=1
BACKGROUND_SYNC_INTERVAL_SECONDS=1
REQUEST_LIVE_SYNC_ENABLED=0
SAVED_RECORDS_PROMETHEUS_ENABLED=1
PROMETHEUS_QUERY_TIMEOUT_SECONDS=10
SNAPSHOT_FRESHNESS_SECONDS=3
ABKANT_IDLE_STAGNATION_SECONDS=600
ABKANT_FEED_STALE_SECONDS=120
MODBUS_TCP_RETRY_ATTEMPTS=3
MODBUS_TCP_RETRY_DELAY_SECONDS=0.15
MODBUS_SNAPSHOT_GRACE_SECONDS=180
PROMETHEUS_BASE_URL=http://localhost:9090
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=
TELEGRAM_ALLOWED_CHAT_IDS=
TELEGRAM_REPORTS_ENABLED=1
TELEGRAM_POLLING_ENABLED=1
TELEGRAM_COMMANDS_ENABLED=1
TELEGRAM_COMPLETED_CYCLE_REPORTS_ENABLED=0
TELEGRAM_NOTIFICATION_MODE=active
TELEGRAM_REPORT_TIME=23:30
TELEGRAM_REPORT_MACHINE_KEYS=laser1modbus,laser2modbus,abkant1modbus
TELEGRAM_REPORT_TOP_LIMIT=10
TELEGRAM_DOSAR_LOOKBACK_DAYS=730
TELEGRAM_TABLE_CHANGE_FREE_SECONDS=90
HERMES_API_TOKEN=
ESP32_DHT_URL=
ESP32_DHT_TIMEOUT_SECONDS=2.5

# Laser1Modbus
LASER1MODBUS_MODBUS_HOST=192.168.2.50
LASER1MODBUS_MODBUS_PORT=502
LASER1MODBUS_MODBUS_UNIT_ID=1
LASER1MODBUS_MODBUS_BIT_SOURCE=discrete_input
LASER1MODBUS_MODBUS_START_ADDRESS=0
LASER1MODBUS_MODBUS_TIMEOUT_SECONDS=1.5
LASER1MODBUS_MODBUS_IN1_SIGNAL=machine_on
LASER1MODBUS_MODBUS_IN2_SIGNAL=table_change
LASER1MODBUS_MODBUS_IN3_SIGNAL=cutting_active
LASER1MODBUS_MODBUS_IN4_SIGNAL=idle_abort

# Laser2Modbus
LASER2MODBUS_MODBUS_HOST=192.168.2.138
LASER2MODBUS_MODBUS_PORT=502
LASER2MODBUS_MODBUS_UNIT_ID=1
LASER2MODBUS_MODBUS_BIT_SOURCE=discrete_input
LASER2MODBUS_MODBUS_START_ADDRESS=0
LASER2MODBUS_MODBUS_TIMEOUT_SECONDS=1.5
LASER2MODBUS_MODBUS_IN1_SIGNAL=machine_on
LASER2MODBUS_MODBUS_IN2_SIGNAL=table_change
LASER2MODBUS_MODBUS_IN3_SIGNAL=cutting_active
LASER2MODBUS_MODBUS_IN4_SIGNAL=idle_abort
LASER_DATA_DIR=
LASER_SQLITE_PATH=

LASER1_REAL_DATA_ENDPOINT=http://192.168.2.242:8081/
LASER1MODBUS_REAL_DATA_ENDPOINT=http://192.168.2.242:8081/
LASER1_REAL_DATA_ENDPOINT_FALLBACK=https://laserb.habaresearch.eu/
LASER1MODBUS_REAL_DATA_ENDPOINT_FALLBACK=https://laserb.habaresearch.eu/
LASER2_REAL_DATA_ENDPOINT=
LASER2MODBUS_REAL_DATA_ENDPOINT=http://192.168.2.138:8081/
LASER2MODBUS_REAL_DATA_ENDPOINT_FALLBACK=https://lasera.habaresearch.eu/
ABKANT_REAL_DATA_ENDPOINT=https://abkant.helpan.ro/
LASER1_CAMERA_FEED_URL=http://192.168.2.140/ISAPI/Streaming/channels/101/picture
LASER1MODBUS_CAMERA_FEED_URL=http://192.168.2.140/ISAPI/Streaming/channels/101/picture
LASER2_CAMERA_FEED_URL=
LASER2MODBUS_CAMERA_FEED_URL=
ABKANT_CAMERA_FEED_URL=https://abkant.helpan.ro/
LASER1_CAMERA_FEED_MODE=image
LASER2_CAMERA_FEED_MODE=image
LASER2MODBUS_CAMERA_FEED_MODE=image
ABKANT_CAMERA_FEED_MODE=image
LASER1_CAMERA_FEED_USERNAME=
LASER2_CAMERA_FEED_USERNAME=
LASER2MODBUS_CAMERA_FEED_USERNAME=
ABKANT_CAMERA_FEED_USERNAME=
LASER1_CAMERA_FEED_PASSWORD=
LASER2_CAMERA_FEED_PASSWORD=
LASER2MODBUS_CAMERA_FEED_PASSWORD=
ABKANT_CAMERA_FEED_PASSWORD=
LASER1_CAMERA_FEED_AUTH=basic
LASER2_CAMERA_FEED_AUTH=basic
LASER2MODBUS_CAMERA_FEED_AUTH=basic
ABKANT_CAMERA_FEED_AUTH=basic
LASER1_HMI_FEED_URL=http://192.168.2.242:8081/
LASER1MODBUS_HMI_FEED_URL=
LASER2_HMI_FEED_URL=
LASER2MODBUS_HMI_FEED_URL=
ABKANT_HMI_FEED_URL=
ABKANT_PG_HOST=
ABKANT_PG_DATABASE=
ABKANT_PG_USER=
ABKANT_PG_PASSWORD=
ABKANT_PG_TIMEOUT=5

PONTAJ_WORKCENTER_ID=1
PONTAJ_LASER1_WORKCENTER_ID=1
PONTAJ_LASER2_WORKCENTER_ID=1
PONTAJ_LASER2MODBUS_WORKCENTER_ID=1
PONTAJ_ABKANT_WORKCENTER_ID=2
PONTAJ_SQL_SERVER=
PONTAJ_SQL_DATABASE=
PONTAJ_SQL_USERNAME=
PONTAJ_SQL_PASSWORD=
PONTAJ_SQL_DRIVER=ODBC Driver 17 for SQL Server
PONTAJ_SQL_TIMEOUT=5
