APP_HOST=0.0.0.0
APP_PORT=3030

PONTAJ_WORKCENTER_ID=1
PONTAJ_LASER1_WORKCENTER_ID=1
PONTAJ_LASER2_WORKCENTER_ID=
PONTAJ_ABKANT_WORKCENTER_ID=
PONTAJ_SQL_SERVER=192.168.2.6
PONTAJ_SQL_DATABASE=Metal
PONTAJ_SQL_USERNAME=bogdan
PONTAJ_SQL_PASSWORD=HELPAN123$
PONTAJ_SQL_DRIVER=ODBC Driver 17 for SQL Server
PONTAJ_SQL_TIMEOUT=5
