APP_HOST=0.0.0.0
APP_PORT=3030
BACKGROUND_SYNC_ENABLED=1
BACKGROUND_SYNC_INTERVAL_SECONDS=3
REQUEST_LIVE_SYNC_ENABLED=0
SAVED_RECORDS_PROMETHEUS_ENABLED=1
PROMETHEUS_QUERY_TIMEOUT_SECONDS=2.5
SNAPSHOT_FRESHNESS_SECONDS=3
ABKANT_IDLE_STAGNATION_SECONDS=600
ABKANT_FEED_STALE_SECONDS=120
PROMETHEUS_BASE_URL=http://localhost:9090

# Laser1Modbus
LASER1MODBUS_MODBUS_HOST=192.168.2.50
LASER1MODBUS_MODBUS_PORT=502
LASER1MODBUS_MODBUS_UNIT_ID=1
LASER1MODBUS_MODBUS_BIT_SOURCE=discrete_input
LASER1MODBUS_MODBUS_START_ADDRESS=0
LASER1MODBUS_MODBUS_TIMEOUT_SECONDS=1.5
LASER1MODBUS_MODBUS_IN1_SIGNAL=machine_on
LASER1MODBUS_MODBUS_IN2_SIGNAL=table_change
LASER1MODBUS_MODBUS_IN3_SIGNAL=cutting_active
LASER1MODBUS_MODBUS_IN4_SIGNAL=idle_abort
LASER_DATA_DIR=
LASER_SQLITE_PATH=

LASER1_REAL_DATA_ENDPOINT=https://laser.helpan.ro/
LASER2_REAL_DATA_ENDPOINT=
ABKANT_REAL_DATA_ENDPOINT=https://abkant.helpan.ro/
LASER1_CAMERA_FEED_URL=https://laser.helpan.ro/
LASER2_CAMERA_FEED_URL=
ABKANT_CAMERA_FEED_URL=https://abkant.helpan.ro/
LASER1_CAMERA_FEED_MODE=image
LASER2_CAMERA_FEED_MODE=image
ABKANT_CAMERA_FEED_MODE=image
LASER1_CAMERA_FEED_USERNAME=
LASER2_CAMERA_FEED_USERNAME=
ABKANT_CAMERA_FEED_USERNAME=
LASER1_CAMERA_FEED_PASSWORD=
LASER2_CAMERA_FEED_PASSWORD=
ABKANT_CAMERA_FEED_PASSWORD=
LASER1_CAMERA_FEED_AUTH=basic
LASER2_CAMERA_FEED_AUTH=basic
ABKANT_CAMERA_FEED_AUTH=basic
LASER1_HMI_FEED_URL=https://laser.helpan.ro/
LASER2_HMI_FEED_URL=
ABKANT_HMI_FEED_URL=https://abkant.helpan.ro/
ABKANT_PG_HOST=192.168.2.130
ABKANT_PG_DATABASE=oee_helpan
ABKANT_PG_USER=postgres
ABKANT_PG_PASSWORD=postgres
ABKANT_PG_TIMEOUT=5

PONTAJ_WORKCENTER_ID=1
PONTAJ_LASER1_WORKCENTER_ID=1
PONTAJ_LASER2_WORKCENTER_ID=1
PONTAJ_ABKANT_WORKCENTER_ID=2
PONTAJ_SQL_SERVER=192.168.2.6
PONTAJ_SQL_DATABASE=Metal
PONTAJ_SQL_USERNAME=bogdan
PONTAJ_SQL_PASSWORD=HELPAN123$
PONTAJ_SQL_DRIVER=ODBC Driver 17 for SQL Server
PONTAJ_SQL_TIMEOUT=5
